.wrapper {
  display: flex;
  justify-content: center;
}

.light {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 600px;
  background-color: rgb(79, 56, 56);
  border-radius: 15px;
}

.timer {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}
